---
layout: default
---

<div class="home">
 <div class="top card">
    <a class="email" href="mailto:{{site.email}}">{{site.email}}</a>
    <p class="description">{{ site.description }}</p>
    <br>
    <a href="about" class="btn">Skills</a>
    <a href="cv" class="btn">Curriculum vitae</a>
  </div>
  <div class="posts card">
      <div class="card-content white-text">
      <span class="card-title">My best projects</span>

      <ul class="post-list">
        {% for post in site.posts %}
          <li>
            <span class="post-meta">{{ post.date_start | date: "%b %Y" }} - {{ post.date_end | date: "%b %Y" }}</span>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}
              <div style="display: table-row">
                {% for tech in post.tech %}
                  <div class="card-tag">
                  {{ tech }}
                  </div>
                {% endfor %}
              </div>
            </a> 
          </li>
        {% endfor %}
      </ul>

      </div>
   </div>

</div>
