<footer class="site-footer">

  <div class="wrapper">

    <span class="footer-heading">{{ site.title }} © 2018-2020</span>

    <div class="footer-media">
      <ul>
        <li>
          <a href="https://github.com/{{ site.github }}" target="_blank">
            <i class="fa fa-github fa-3x"></i>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/{{ site.facebook }}" target="_blank">
            <i class="fa fa-facebook fa-3x"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank">
            <i class="fa fa-linkedin fa-3x"></i>
          </a>
        </li>
        <li>
          <a href="https://www.medium.com/@{{ site.medium }}">
            <i class="fa fa-medium fa-3x"></i>
          </a>
        </li>
        <li>
          <a href="mailto:{{site.email}}">
            <i class="fa fa-envelope fa-3x"></i>
          </a>
        </li>
      </ul>
    </div>

</div>
</footer>
