<footer class="site-footer">

  <div class="wrapper">

    <span class="footer-heading">{{ site.title }} © 2018</span>

    <div class="footer-media">
      <ul>
        <li>
          <a href="https://github.com/{{ site.github }}">
            <i class="fa fa-github fa-5x"></i>
          </a>
        </li>
        <li>
          <a href="https://blog.jamigibbs.com/">
            <i class="fa fa-facebook fa-5x"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/{{ site.twitter }}">
            <i class="fa fa-linkedin fa-5x"></i>
          </a>
        </li>
      </ul>
    </div>

</div>
</footer>
